.upcomingMovies{
  border: solid 1px;
  border-radius: 25px;
  margin: 10px 1px 10px 1px;
}
.needsFlex{
  display: flex;
}
.scroll {
  display: flex;
  overflow: scroll;
}
/*.images{
  width:1420px;
  height:400px;
}
.movieImage{
  height: 400px;
  width: 280px;
}
.matCard{
  width: 27.5%;
}
*/
