<h1 mat-dialog-title>
  Write a review for {{data.movie_name}}
</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
      type="number"
      placeholder="Rating"
      [formControl]="rating" >
  </mat-form-field>
  <mat-form-field>
    <input matInput
      type="text"
      placeholder="Review"
      [formControl]="review" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
    color="accent" >
    CANCEL
  </button>
  <button mat-raised-button
    color="accent" >
    SUBMIT
  </button>
</mat-dialog-actions>