.card{
  display:flex;
}
.needsFlex{
  display: flex;
}
.flex{
  display:flex;
}
.images{
  width:1420px;
  height:400px;
}
.movieImage{
  height: 400px;
  width: 280px;
}
.matCard{
  width: 27.5%;
}
.scroll {
  display: flex;
  overflow: scroll;
}
mat-card{

}
