
  <mat-card class="current-movies">
    <h2 class="header">Current Movies</h2>
    <mat-card class="current">
      <img mat-card-image src="../assets/img/Jumanji.jpg">
      <mat-card-content>
        <p>
          This is where the description of the Movie will be.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ADD TO WISH LIST</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="current">
      <img mat-card-image src="../assets/img/showman.jpg">
      <mat-card-content>
        <p>
          This is where the description of the Movie will be.
        </p>
      </mat-card-content>
      <!--<mat-card-actions>-->
        <!--<button mat-button>ADD TO WISH LIST</button>-->
      <!--</mat-card-actions>-->
    </mat-card>

    <mat-card class="current">
      <img mat-card-image src="../assets/img/rabbit.jpg">
      <mat-card-content>
        <p>
          This is where the description of the Movie will be.
        </p>
      </mat-card-content>
      <!--<mat-card-actions>-->
        <!--<button mat-button>ADD TO WISH LIST</button>-->
      <!--</mat-card-actions>-->
    </mat-card>

    <mat-card class="current">
      <img mat-card-image src="../assets/img/mazerunner.jpg">
      <mat-card-content>
        <p>
          This is where the description of the Movie will be.
        </p>
      </mat-card-content>
      <!--<mat-card-actions>-->
        <!--<button mat-button>ADD TO WISH LIST</button>-->
      <!--</mat-card-actions>-->
    </mat-card>
  </mat-card>

