@import './theme.scss';
body{
  max-width:1450px;
  border-radius: 30px;
  background-color: lightgray;
}
.upcomingMovies{
  border: solid 1px;
  border-radius: 25px;
  margin: 10px 1px 10px 1px;
}
.friendsCard{
  border: solid 1px;
  border-radius: 50px;
  margin: 10px 1px 10px 1px;
  display:flex;
  flex-wrap:wrap;
  flex-grow: 1;
}
.friend{
  width:35%;
  margin:10px 1px 10px 1px;

}
.wishList{
  width:30%;
  margin:10px 1px 10px 1px;
  flex-direction: row;
  flex-wrap: wrap;
}
.wish{
  border: solid 1px;
  border-radius: 50px;
  margin: 10px 1px 10px 1px;
}
.card{
  display:flex;
}
.leftDiv{
  width: 68%;
}
.rightDiv{
  width: 32%;
}
.needsFlex{
  display: flex;
}
.flex{
  display:flex;
}
.images{
  width:1420px;
  height:400px;
}
.current{
  border: solid 1px;
  margin: 10px 1px 10px 1px;
  display:flex;
}
.currentMovies{
  border: solid 1px;
  border-radius: 50px;
  margin: 10px 1px 10px 10px;
  height:80%;
  width:30%;
}
.header{
  text-align: center;
}
.movieImage{
  height: 400px;
  width: 280px;
}
.matCard{
  width: 27.5%;
}
