<div class="homePage">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/profile" routerLinkActive="active">Friends/Wishlist</a>
      </ng-template>
      <app-profile-tab></app-profile-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/movies" routerLinkActive="active">Upcoming/Current Movies</a>
      </ng-template>
      <app-movies-tab></app-movies-tab>
    </mat-tab>
  </mat-tab-group>
</div>

<!--<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>
-->
