<!-- <div class="homePage">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Upcoming / Current Movies
      </ng-template>
      <app-upcoming></app-upcoming>
      <app-current-movies></app-current-movies>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        My Wishlist
      </ng-template>
      <app-friend-card></app-friend-card>
      <app-wish-list></app-wish-list>
    </mat-tab>
  </mat-tab-group>
</div> -->
<div class="homePage" >
  <nav mat-tab-nav-bar
    backgroundColor="secondary"
    color="primary" >
    <a mat-tab-link
      *ngFor="let navLink of navLinks; let i = index"
      [routerLink]="navLink.link"
      routerLinkActive="mat-tab-link-active"
      #rla="routerLinkActive"
      [active]="activeLinkIndex === i"
      (click)="activeLinkIndex = i"
      [routerLinkActiveOptions]="{exact: true}" >
      {{navLink.label}}
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>


