<mat-card>
  <mat-card-title>{{movie.title}}</mat-card-title>
  <img mat-card-image
    [src]="movie.image.url"
    [alt]="movie.image.description" >
  <mat-card-content>
    <p>
      {{movie.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="inWishlist"
      mat-raised-button 
      color="accent" >
      Remove From Wish List
    </button>
    <button *ngIf="!inWishlist"
      mat-raised-button 
      (click)="addMovieToWishlist()"
      color="accent" >
     Add To Wish List
    </button>
  </mat-card-actions>
</mat-card>