<mat-card class="noBlock small-margin" [style.width]="width">
  <mat-card-title class="truncate">{{movie.title}}</mat-card-title>
  <img mat-card-image
    [src]="movie.image.url"
    [alt]="movie.image.description" >
  <mat-card-content class="description">
    <p>
      {{movie.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="inWishList"
      mat-raised-button
      color="accent" >
      Remove From Wish List
    </button>
    <button *ngIf="!inWishList"
      mat-raised-button
      color="accent" >
     Add To Wish List
    </button>
  </mat-card-actions>
</mat-card>
